<div class="jumbotron">
    <h1 class="display-4">{{stock.companyName}} {{stock.symbol}}</h1>
    <h3>Previous Close:</h3> ${{stock.previousClose}}
    <h3>Latest Price:</h3> ${{stock.latestPrice}}
    <h3>Percentage Change:</h3> ${{stock.changePercent}}
</div>

{{!-- {{#each stock}}
{{@key}} | {{this}}<br />
{{/each}} --}}